[Unit]
Description=Custom RPi display for mounted display and buttons

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/display/display.py -i spi -d sh1106

[Install]
WantedBy=multi-user.target
